<!-- Start all nodes-->

<launch>
    <node name="proximity_checker" pkg="husky_gazebo_plugins" type="proximity_checkergpu.py" output="screen" />
    <node name="yolo_human_detection" pkg="husky_gazebo_plugins" type="human_detectorgpu.py" output="screen" />
    <node name="robot_control" pkg="husky_gazebo_plugins" type="robot_controlgpu.py" output="screen" />
</launch>